<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Times</title>
    <link rel="stylesheet" href="{% static 'renderMVT/css/style.css' %}">
</head>
<body>

    <h1 style="color: cadetblue;">{{date}}</h1>

    <img src="{% static 'renderMVT/images/fashion home.png' %}" alt="fashion-image">
    


    <!-- java script files here -->
     <script src="{% static 'renderMVT/js/app.js' %}"></script>
</body>
</html>