{% extends "./base.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <div style="width: 35%; margin: auto; margin-top: 100px;">
        <form method="post" action="" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="bg-danger text-white p-3">{{error}}</p>
                {% endfor %}
            {% endif %}
            <!-- {{form | crispy}} -->
            {% for frm in form %}
                {{frm.label_tag}}
                {{frm}}
                {{frm.errors | striptags}}
            {% endfor %}
            <br>
            <button class="btn btn-warning" type="submit">Change Password</button>
        </form>
    </div>

{% endblock body %}