{% extends "base.html" %}


{% block content %}
    {% load crispy_forms_tags %}
    <h1 class="text-center"> Update Your Profile.</h1>

    <div style="width: 40%; margin: auto;">
        <form method="post" action="">
            {% csrf_token %}

            <a class="btn btn-warning btn-sm" href="{% url 'change_pass' %}">Change Your Password</a>
            
            {{form | crispy}}
            <button class="btn btn-warning mb-5">Change Data</button>
        </form>
    </div>

{% endblock content %}