{% extends "base.html" %}


{% block content %}

    <style>
        .paginator{
            display: flex;
            list-style: none;
            margin-top: 20px;
            /* border: 1px solid green; */
        }
        .page-link{
            text-decoration: none;
            border: 1px solid green;
            padding: 10px 15px;
        }
        .page-link:hover{
            cursor: pointer;
            background-color: chocolate;
            color: whitesmoke;
        }
    </style>

    <h1 style="text-align: center; margin: 50px;">Pagination and Searching in here...</h1>

    
    <div style="display: grid; place-items: center;">
        <form action="" method="get">
            <label for="">Search For here...</label> <br>
            <input type="text" name="search" id="search" value="{{search_query}}">
            <button type='submit'>Search</button>
        </form>
    </div>



    <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 50px; margin-top: 50px;">
        {% for content_page in content_pages %}
            <div style="border: 2px solid gray; padding: 20px 30px; width: 30%;">
                <h1>{{content_page.name}}</h1>
                <h2>{{content_page.title}}</h2>
                <h3>{{content_page.active}}</h3>
                <h4>{{content_page.content_type}}</h4>
                <a href="{% url 'get_details' content_page.id %}">GO TO</a> | 
                <a href="{% url 'edit_content' content_page.id %}">Edit</a> | 
                <a href="{% url 'delete_content' content_page.id %}">Delete</a>
            </div>
        {% endfor %}
    </div>

    <nav>
        <h3>Pagination Here...</h3>
        <ul class="paginator">

            {% for pages in content_pages.paginator.page_range %}

                <!-- <li class="page-item{% if page == content_page.number %} active {% endif %}"> -->
                <a class="page-link" href="?page={{pages}}&page_size={{page_size}}">{{pages}}</a>
                <!-- </li> -->


            {% endfor %}

        </ul>
    </nav>


{% endblock %}